# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env
.python-version

# Node/Frontend
node_modules/
dist/
build/
.DS_Store
package-lock.json

# Data/Logs
logs/
*.csv
*.json
database/*.sqlite
database/*.db

# IDEs
.vscode/
.idea/
*.swp

# Docker
docker/.data/
